/*
----------
Reset
----------
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
----------
Common
----------
*/


/*
----------
Header
----------
*/

.view{
    height: 35px;
    background-color: black;
    position: relative;
}

.speaker-view{
    color: white;
    padding: 5px;
    background: rgba(105, 105, 105, 0.5);
    border-radius: 8px;
    position: absolute;
    top: 5px;
    right: 35px;
}

.maximize{
    color: white;
    padding: 5px;
    background: rgba(105, 105, 105, 0.5); 
    border-radius: 5px;
    position: absolute;
    top: 5px;
    right: 5px;
}

/*
----------
Main
----------
*/

.container{
    height: calc(100vh - 120px);
    background-color: black;
    padding: 90px;
    overflow: auto;
}

.container-user{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.user{
    position: relative;
}

.mute{
    position: absolute;
    bottom: 0;
    right: 0;
    color:white;
    background: rgba(105, 105, 105, 0.5);
}

/*
----------
Footer
----------
*/

.widget-bar{
    height: 85px;
    background-color: gray;
}