/*
----------
Reset
----------
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
----------
Typo
----------
*/

body{
    font-family: 'Roboto', sans-serif;
}

.fa-microphone{
    color: white;
    font-size: 25px;
}

.fa-video{
    color: white;
    font-size: 25px;
}

.fa-chevoron-up{
    color: white;
}

/*
----------
Header
----------
*/

.view{
    height: 35px;
    background-color: black;
    position: relative;
}

.speaker-view{
    color: white;
    padding: 5px;
    background: rgba(105, 105, 105, 0.5);
    border-radius: 8px;
    position: absolute;
    top: 5px;
    right: 35px;
}

.maximize{
    color: white;
    padding: 5px;
    background: rgba(105, 105, 105, 0.5); 
    border-radius: 5px;
    position: absolute;
    top: 5px;
    right: 5px;
}

/*
----------
Main
----------
*/

.container{
    height: calc(100vh - 120px);
    background-color: black;
    padding: 45px 90px;
    overflow: auto;
}

.container-user{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

img{
    display: block;
}

.user{
    position: relative;
}

.mute{
    position: absolute;
    bottom: 0;
    right: 0;
    color:white;
    background: rgba(105, 105, 105, 0.5);
}

/*
----------
Footer
----------
*/

.widget-bar{
    height: 85px;
    background-color: #222222;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.widget-bar{
    position: relative;
}

.box-footer-left{
    position: absolute;
    top: 10px;
    left: 50px;
    color: white;
}

.left-descriptions{
    position: absolute;
    top: 40px;
    left: 45px;
    color: white;
}

.footer-center-icons > span{
    padding: 15px;
}

.footer-center-descriptions > span{
    padding: 8px;
}

.box-footer-left > span{
    padding: 2px;
}

.left-descriptions > span{
    padding: 2px;
}

.footer-center-icons{
    position: absolute;
    top: 10px;
    left: 500px;
    color: white;
    font-size: 25px;
}

.footer-center-descriptions{
    position: absolute;
    top: 40px;
    left: 490px;
    color: white;
    font-size: 10px;
}

.footer-right{
    position: absolute;
    right: 0;
    background-color: #4a4a4a;
    color: red;
    padding: 33px 23px;
}